
PythagorasEngine/x64/Debug/PythagorasEngineDEBUG.Build.CppClean.log
PythagorasEngine/x64/Debug/PythagorasEngine.vcxproj.FileListAbsolute.txt
PythagorasEngine/x64/Debug/PythagorasEngine.log
Pythagoras/x64/Debug/PythagorasDEBUG.Build.CppClean.log
Pythagoras/x64/Debug/Pythagoras.vcxproj.FileListAbsolute.txt
Pythagoras/x64/Debug/Pythagoras.log
.vs/Pythagoras/v17/Solution.VC.db
.vs/Pythagoras/v17/fileList.bin
.vs/Pythagoras/v17/Browse.VC.db
.vs/Pythagoras/v17/.suo
.vs/Pythagoras/FileContentIndex/read.lock
.vs/Pythagoras/FileContentIndex/9ab023a6-2e5b-488d-aa64-1419b3684557.vsidx
.vs/Pythagoras/FileContentIndex/7a7a93f9-1d64-4e82-9e88-94f6f496291b.vsidx
